%ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
  %li{property: 'itemListElement', typeof: 'ListItem'}
    =link_to(root_path, property: 'item', typeof: 'WebPage') do
      %span{property: 'name'}=APP_NAME
    %meta{property: 'position', content: '1'}
  %li.active Equipo

.page-header
  %h1 Conoce al equipo
%p
  Profesionales colegiados en constante formación para ofrecer el mejor servicio
=render partial: 'team_small'
