=link_to users_path, class: 'btn btn-primary' do
  Usuarios
  %span.badge=User.count

=link_to posts_by_category_path(category: 'Fisioterapia'), class: 'btn btn-primary' do
  Entradas Blog Fisioterapia
  %span.badge=Post.count

=link_to discounts_path, class: 'btn btn-primary' do
  Descuentos
  %span.badge=Discount.count

=link_to '#', class: 'btn btn-primary' do
  Calendario
  %span.badge
    .fa.fa-calendar

=link_to edit_setting_path(Setting.first), class: 'btn btn-warning' do
  Configuración
  %span.badge
    .fa.fa-gears