<div id="carousel-home" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <% CarouselImage.availables.count.times do |i| %>
      <li data-target="#carousel-home" data-slide-to="<%= i - 1 %>" class="active"></li>
    <% end %>
  </ol>

  <div class="carousel-inner" role="listbox">
    <% CarouselImage.availables.each_with_index do |carousel_image, index| %>
      <div class="item <%= index.zero? ? 'active' : nil %>">
        <%= image_tag carousel_image.image_url(:full) %>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
