- cache ['v1', 'section', 'precios', @section] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}='Confisio'
      %meta{property: 'position', content: '1'}

    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(sections_permalink_path(@section.permalink), property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=@section.name.capitalize
      %meta{property: 'position', content: '2'}
    %li.active='Precios'

  .page-header
    %h1
      Precios
      %small= @section.name

  .row
    .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
      =render partial: 'prices/index', locals: {section: @section}
