- cache ['v1', 'section', 'show', @section] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME.capitalize
      %meta{property: 'position', content: '1'}
    %li.active=@section.name.capitalize
    
  .page-header
    %h1
      =@section.name
    =link_to 'Precios y descuentos', prices_permalink_path(@section.permalink)
  .row
    .content
      .col-xs-12.col-sm-9.col-md-9.col-lg-9
        %p= @section.setting.description.to_s.html_safe
        -if !@section.is_psicologia? and @section.categories
          %ul.list-unstyled
            -@section.categories.with_posts.each do |category|
              %li=link_to category.name, category_path(@section.permalink, category.permalink)
              -if category.posts
                %ul
                  -category.posts.each do |post|
                    %li=link_to post.title, post_permalink_path(@section.permalink, category.permalink, post.permalink)
      -if Post.latest_related_for_section(@section).any?
        .hidden-xs.col-sm-3.col-md-3.col-lg-3.text-center
          %h5 Últimos artículos
          -Post.latest_related_for_section(@section).each do |post|
            =link_to post_permalink_path(post.section.permalink, !post.categories.empty? ? post.categories.first.permalink : 'artículo', post.permalink), class: 'thumbnail' do
              =image_tag post.primary_image, alt: post.title
              =post.title