.page-header
  %h1 Admin
.content
  -Section.all.each do |section|
    =link_to section.name, setting_path(section.permalink)
    %br
  =link_to 'Configurar Web', edit_app_configuration_path(@app_configuration)