- cache ['v1', 'setting', 'index', current_user, cache_key_for_sections] do
  .container
    .page-header
      %h1 Admin
    .content
      =link_to("Editar mi usuario", edit_user_path(current_user))
      %br
      -Section.all.each do |section|
        =link_to section.name, setting_path(section.permalink)
        %br
      =link_to 'Configurar Web', edit_app_configuration_path(@app_configuration)