<p>
  Alguien ha dejado su contacto en la web para que le llamemos
</p>

<p>
  Se ha interesado por <b><%= @free_call.section.title %></b>
</p>

<%= link_to 'Ver en la web', 'www.confisio.es/admin/free_calls' %>
