<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
  <div class="list-group text-center">
    <div class="list-group-item">
      <p class="h3">
        <% if price.from %>
          <small>Desde</small>
        <% end %>
        <b><%= pretty_price(price) %></b>
      </b>
    </div>

    <% if price.name %>
      <div class="list-group-item">
        <h3 class="p"><%= price.name.capitalize %></h3>
      </div>
    <% end %>
    
    <% if price.session_duration %>
      <div class="list-group-item">
        <i class="glyphicon glyphicon-time"></i>
        <%= time_to_hour_minute(price.session_duration) %>
      </div>
    <% end %>
    
    <% if price.not_other_discounts %>
      <div class="list-group-item">
        <small>Otros descuentos no aplicables</small>
      </div>
    <% end %>
    
    <div class="list-group-item">
      <%= link_to('Pedir cita ahora', contact_path, title: 'Pedir cita ahora', class: 'btn btn-primary btn-block btn-big') %>
    </div>
  </div>
</div>
