<div class="page-header">
  <h2>Lista de precios de <%= @section.title %><small><%= link_to('Pide cita online', contact_path) %> o por teléfono <%= Settings.phone %></small></h2>
  <%= render @section.prices %>
</div>
