%h1 Todas las Entradas
- @posts.each_with_index do |post, index|
  .media
    .media-left
      =link_to(posts_by_category_permalink_path(category: post.category.name.downcase, permalink: post.permalink)) do
        =image_tag(post.primary_image, alt: post.title, class: 'media-object img-responsive', style: 'max-height: 64px; min-width: 64px;')
    .media-body
      %h4.media-heading
        =link_to(post.title, posts_by_category_permalink_path(category: post.category.name.downcase, permalink: post.permalink))
      %p
        =post.body[0..350].html_safe + '...'
        %span
          =link_to('ver más', posts_by_category_permalink_path(category: post.category.name.downcase, permalink: post.permalink))
          
      -if admin?
        = link_to 'Editar', edit_post_path(post), class: 'btn btn-default'
        = link_to post, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' do
          .fa.fa-trash
-if admin?
  %br
  = link_to 'Nueva entrada', new_post_path, class: 'btn btn-primary pull-right'