.page-header
  %h1=@post.title
=@post.body.html_safe
-if admin?
  =link_to 'Volver (Panel de control)', setting_path(@section.permalink)
-else
  =link_to 'Volver', sections_permalink_path(@section.permalink)