- cache ['v1', 'discounts', 'index', cache_key_for_discounts] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME.capitalize
      %meta{property: 'position', content: '1'}
    %li.active Descuentos

  %h1 Descuentos
  .row
    -Section.ordered.joins(:discounts).includes(:discounts).each do |section|
      .col-xs-12.col-sm-4.col-md-4.col-lg-6
        .page-header{id: section.name.parameterize}
          %h3=section.name
        -section.discounts.by_create_date.each do |discount|
          =render partial: 'box', locals: { discount: discount }
