- cache ['v1', 'discount', 'show', @discount] do

  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME
      %meta{property: 'position', content: '1'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(sections_permalink_path(@section.permalink), property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=@section.name.capitalize
      %meta{property: 'position', content: '2'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(prices_permalink_path(@section.permalink), property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}='Precios'
      %meta{property: 'position', content: '3'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(section_discounts_path(@section.permalink), property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}='Descuentos'
      %meta{property: 'position', content: '4'}
    %li.active=@discount.title.capitalize

  .page-header
    %h1
      =@discount.title
      %small
        ="#{'%.2f' % @discount.value.round(2)} €"
  -if @discount.description.present?
    %p
      %b Descripción
    %p
      =@discount.description.html_safe
  -if @discount.conditions.present?
    %p
      %b Condiciones
    %p
      %small=@discount.conditions.html_safe
  -if @discount.valid_to.present?
    %p
      %b Validez
    %p
      %small="Hasta #{l(@discount.valid_to.to_date, format: :long)}"
