.page-header.posts{
  small span.glyphicon{
    padding-left: 10px;
  }
  small span.author{
    padding-left: 0px;
    img{
      width: 25px;
      height: auto;
    }
  }
  small a{
    padding-left: 5px;
  }
}