%h1=@category.name
%p=@category.description
.col-xs-12.col-sm-6.col-md-4.col-lg-4
  -@category.posts.by_create_date.each do |post|
    =image_tag post.primary_image
    %h2
      =link_to post.title, post_permalink_path(@section.permalink, post.permalink)
    %p
      =post.body_preview.html_safe
    =link_to 'leer completo', post_permalink_path(@section.permalink, post.permalink)