%address
  %strong=APP_NAME
  %br/
  Avenida de Badajoz Nº 3
  %br/
  Madrid, 28027
  %br/
  %abbr{:title => "Phone"} P:
  =MOBILE_PHONE
  %abbr{:title => "Phone"} P:
  =PHONE
%address
  %strong Email
  %br/
  %a{:href => "mailto:#{EMAIL}"}=EMAIL