%address
  =Setting.first.address_street
  %br/
  ="Madrid, #{Setting.first.address_cp}"
  %br/
  .fa.fa-whatsapp
  =Setting.first.mobile_phone
  %br/
  .fa.fa-phone
  =Setting.first.phone
  %br/
  =link_to(Setting.first.primary_email, "mailto:#{Setting.first.primary_email}")
%hr