%address
  %strong=APP_NAME
  %br/
  =Setting.first.address_street
  %br/
  ="Madrid, #{Setting.first.address_cp}"
  %br/
  %abbr{:title => "Phone"} P:
  =Setting.first.mobile_phone
  %abbr{:title => "Phone"} P:
  =Setting.first.phone
%address
  %strong Email
  %br/
  %a{:href => "mailto:#{Setting.first.primary_email}"}=Setting.first.primary_email