- cache ['v2', 'header', cache_key_for_sections, current_user] do
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        =link_to root_path, class: 'navbar-brand' do
          =image_tag(APP_LOGO, alt: APP_NAME, style: 'width: auto; height: 20px;')
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .collapse.navbar-collapse{id: 'bs-example-navbar-collapse-1'}
        %ul.nav.navbar-nav
          -Section.all.order(created_at: :asc).each do |section|
            %li
              =link_to section.name, sections_permalink_path(section.permalink)
        %ul.nav.navbar-nav.navbar-right
          %li
            =link_to 'Tarifas', tarifas_path
          %li
            =link_to 'Descuentos', discounts_path(Section.order(created_at: :asc).first.permalink)
          %li
            =link_to 'Equipo', team_path
          %li
            =link_to 'Contacto', contact_path

          -if signed_in?
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                =current_user.name
                %span.caret
              %ul.dropdown-menu
                %li
                  =link_to 'Admin',  admin_admin_path
                %li.divider{:role => "separator"}
                %li
                  =link_to 'Salir',  logout_path