%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to root_path, class: 'navbar-brand', style: 'padding-top: 10px;' do
        =image_tag('nombre-logo.png', alt: APP_NAME, class: 'img-responsive', style: 'width: 90px')
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to 'Promociones', discounts_path
        %li{class: (params[:controller] == 'posts') ? 'active' : nil}
          =link_to 'Patologías', posts_path
        %li{class: (params[:action] == 'about' and params[:controller] == 'pages') ? 'active' : nil}
          =link_to 'Contacto', about_path
        -if admin?
          %li{class: (params[:controller] == 'controls') ? 'active' : nil}
            =link_to 'Panel Control', control_path
      %ul.nav.navbar-nav.pull-right
        -if signed_in?
          %li
            =link_to current_user.name || current_user.email, user_path(current_user)
          %li
            =link_to 'Salir', logout_path, method: :delete
        -else
          %li
            =link_to 'Iniciar Sesión', login_path