%blockquote
  Puedes evitar la sobremedicación, y con ello sus efectos secundarios
%blockquote.blockquote-reverse
  Puedes recuperarte en menos tiempo, sin dejar de hacer tu actividad
%blockquote
  Puedes encontrar el motivo que creo tu malestar
%blockquote.blockquote-reverse
  Puedes dejar tu cuerpo en mejores condiciones tras la lesión
%blockquote
  Fisioterapeutas colegiados en constante formación
%blockquote.blockquote-reverse
  No es sólo vivir más años, sino vivirlos con calidad
%blockquote
  Para nosotros es importante resolver tus dudas, y que entiendas las causas del problema, para hacerte participe del tratamiento y evitar recaidas.