- cache ['v1', 'contact', @app_configuration] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME.capitalize
      %meta{property: 'position', content: '1'}
    %li.active Contacto

  .page-header
    %h1
      Contacta con nosotros
      %small Te resolvemos cualquier duda
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      %address{:itemscope => '', :itemtype => 'http://schema.org/LocalBusiness'}
        %span.hidden{:itemprop => 'name'}=APP_NAME
        %div{:itemprop => 'address', :itemscope => '', :itemtype => 'http://schema.org/PostalAddress'}
          %span{:itemprop => 'streetAddress'}="#{@app_configuration.calle}, #{@app_configuration.numero}"
          = succeed ',' do
            %span.hidden{:itemprop => 'addressLocality'}=@app_configuration.ciudad
          %span{:itemprop => 'postalCode'}=@app_configuration.cp
          %span{:itemprop => 'addressRegion'}=@app_configuration.ciudad
        .fa.fa-phone
        %span{:itemprop => 'telephone', title: @app_configuration.telefono_fijo}=format_phone_number @app_configuration.telefono_fijo
        %br/
        %span{title: @app_configuration.telefono_movil}
          .fa.fa-whatsapp
          =format_phone_number @app_configuration.telefono_movil
        %br/
        .fa.fa-envelope-o
        =mail_to(@app_configuration.email, @app_configuration.email, subject: 'Consulta información')
        %br/
        ="Barrios cercanos: #{@app_configuration.barrio}"
        %br/
        =link_to('https://www.metromadrid.es/export/sites/metro/comun/documentos/planos/Planoesquematicoespanol.pdf') do
          =image_tag('MetroMadridLogo.svg', size: '35x20')
        %span
          =link_to 'https://www.google.es/maps/dir/Barrio+de+la+Concepci%C3%B3n,+28027+Madrid/Confisio,+Avenida+de+Badajoz,+Madrid/@40.4402363,-3.6560694,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0xd422f39e3b11b87:0x801e84be096d7d60!2m2!1d-3.6519981!2d40.4390955!1m5!1m1!1s0xd422f31137e4ebb:0xd3d911e806f9b0e6!2m2!1d-3.6558397!2d40.4414183' do
            =@app_configuration.metro

    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{ frameborder: "0", style: "border:0", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.5294147265954!2d-3.65584!3d40.44141799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f31137e4ebb%3A0xd3d911e806f9b0e6!2sConfisio!5e0!3m2!1ses!2ses!4v1433542867501" }
  =render partial: 'organization_json_ld'