- cache ['v1', 'landing', @app_configuration, cache_key_for_posts, cache_key_for_employers, cache_key_for_sections] do
  .application_landing
    .row.landing-principal
      .jumbotron.vertical-center
        .container.text-center
          .col-xs-12.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
            =image_tag 'http://res.cloudinary.com/confisio/image/upload/v1443786531/logo-confisio-def-01_etim1y.png', class: 'img-responsive', alt: 'Confisio'
            %p="Clínica de #{link_to 'fisioterapia', Section.fisioterapia.permalink}, #{link_to 'psicología', Section.psicologia.permalink}, #{link_to 'podología', Section.podologia.permalink} y #{link_to 'nutrición', Section.nutricion.permalink} ".html_safe
    #green
      .row{style: 'padding: 0px; margin: 0px'}
        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3{style: 'padding: 0px; background-color: white;'}
          =render 'carousel'
    .container
      - cache ['v1', 'landing_posts', cache_key_for_posts] do
        .row.centered.mt.grid
          .mt
          -Post.by_create_date.limit(6).each do |post|
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
              =link_to post_permalink_path(post.section.permalink, !post.categories.empty? ? post.categories.first.permalink : 'artículo', post.permalink) do
                .text-center
                  =image_tag(post.primary_image, alt: post.title, class: 'img-responsive', style: 'max-height: 200px; width: auto; margin: 0 auto;')
                  =post.title
    #skills
      .container
        .row.centered
          %h3 Conoce a nuestro equipo
          %p.text-center.text-white
            Personal colegiado altamente cualificado en constante formación a tu servicio
          .mt
          =render 'users/team_small'
    =link_to 'https://maps.google.com/maps?ll=40.441418,-3.65584&z=16&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=15265252100196118758' do
      .full-width.scrolloff
        #map
  =render partial: 'organization_json_ld'
