.row
  .col-xs-12.col-sm-12.col-md-8.col-lg-8
    =render partial: 'application/carousel'
    %br
    =render partial: 'application/quotes'
  .hidden-xs.col-sm-12.col-md-4.col-lg-4
    =render partial: 'application/contact_address'
    -Post.by_create_date.limit(5).each do |post|
      =render partial: 'posts/right_column/show', locals: { post: post }