- cache ['v1', 'landing', @app_configuration, cache_key_for_posts, cache_key_for_employers, cache_key_for_sections] do
  .application_landing 
    .row.landing-principal
      .jumbotron.vertical-center
        .container.text-center
          .col-xs-12.col-sm-12.col-md-12.col-lg-9
            %h1=APP_NAME.capitalize
            %p Clínica de fisioterapia y psicología
          .col-xs-12.col-sm-12.col-md-12.col-lg-3
            .address-little
              %iframe.embed-responsive-item{ frameborder: "0", style: "border:0; padding-top: 60px;", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.5294147265954!2d-3.65584!3d40.44141799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f31137e4ebb%3A0xd3d911e806f9b0e6!2sConfisio!5e0!3m2!1ses!2ses!4v1433542867501" }
              %br/
              ="#{@app_configuration.calle}, #{@app_configuration.numero}, "
              %span
                =@app_configuration.cp
              %span=@app_configuration.ciudad
              %br/
              .fa.fa-phone
              =format_phone_number @app_configuration.telefono_fijo
              %br/
              .fa.fa-whatsapp
              =format_phone_number @app_configuration.telefono_movil
              %br/
              .fa.fa-envelope-o
              =mail_to(@app_configuration.email, @app_configuration.email, subject: 'Consulta información')
    #green
      .row{style: 'padding: 0px; margin: 0px'}
        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3{style: 'padding: 0px; background-color: white;'}
          =render 'carousel'
    .container
      - cache ['v1', 'landing_posts', cache_key_for_posts] do
        .row.centered.mt.grid
          .mt
          -Post.by_create_date.limit(6).each do |post|
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
              =link_to post_permalink_path(post.section.permalink, !post.categories.empty? ? post.categories.first.permalink : 'artículo', post.permalink) do
                .text-center
                  =image_tag(post.primary_image, alt: post.title, class: 'img-responsive', style: 'max-height: 200px; width: auto; margin: 0 auto;')
                  =post.title
    #skills
      .container
        .row.centered
          %h3 Conoce a nuestro equipo
          %p.text-center.text-white
            Personal colegiado altamente cualificado en constante formación a tu servicio
          .mt
          =render 'users/team_small'
    =link_to 'https://maps.google.com/maps?ll=40.441418,-3.65584&z=16&t=m&hl=es-ES&gl=ES&mapclient=embed&cid=15265252100196118758' do
      .full-width.scrolloff
        %iframe.embed-responsive-item{ frameborder: "0", style: "border:0", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.5294147265954!2d-3.65584!3d40.44141799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f31137e4ebb%3A0xd3d911e806f9b0e6!2sConfisio!5e0!3m2!1ses!2ses!4v1433542867501" }}
  =render partial: 'organization_json_ld'