- cache ['v1', 'precios', cache_key_for_sections] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME
      %meta{property: 'position', content: '1'}
    %li.active Precios

  %h1
    Precios
  .row
    -Section.joins(:prices).includes(:prices).ordered.each do |section|
      .col-xs-12.col-sm-6.col-md-6.col-lg-6.elem
        =render partial: 'prices/index', locals: {section: section}
  :javascript
    $('.row').masonry({
      // options
      itemSelector: '.col-xs-12.col-sm-6.col-md-6.col-lg-6.elem',
      columnWidth: '.col-xs-12.col-sm-6.col-md-6.col-lg-6.elem',
      percentPosition: true
    });
