!!!
%html.confisio
  %head
    %title Confisio
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %section.container#application_content
      #application_flashes
        =render partial: 'application/flashes'
      %h1
        Confisio, tu clínica de fisioterapia en Madrid
      %p
        Estamos a punto de abrir nuestra clínica en Avenida Badajoz N° 3, Local 4, 28027 Madrid y estrenar esta web.
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-6
          %iframe{ width: "100%", height: "350", frameborder: "0", style: "border:0", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3036.5294147265954!2d-3.65584!3d40.44141799999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f31137e4ebb%3A0xd3d911e806f9b0e6!2sConfisio!5e0!3m2!1ses!2ses!4v1433542867501" }
      %h5
        Suscríbete ahora y recibe promociones exclusivas con motivo de la apertura
      =form_for ReleaseSuscription.new do |f|
        .row
          .col-xs-12.col-sm-6.col-md-4.col-lg-4
            =f.label :email
            .input-group
              =f.email_field :email, class: 'form-control'
              %span.input-group-btn
                =f.submit 'Enviar', class: 'btn btn-primary'