- cache ['v1', 'tarifas', cache_key_for_categories] do
  %ol.breadcrumb{vocab: 'http://schema.org/', typeof: 'BreadcrumbList'}
    %li{property: 'itemListElement', typeof: 'ListItem'}
      =link_to(root_path, property: 'item', typeof: 'WebPage') do
        %span{property: 'name'}=APP_NAME.capitalize
      %meta{property: 'position', content: '1'}
    %li.active Tarifas

  .page-header
    %h1
      Tarifas
      %small
        Por sesión
        
  %table.table.table-striped
    %thead
      %tr
        -Section.all.each do |section|
          %th
            =link_to section.name, prices_path(section.permalink)
    %tbody
      %tr
        -Section.all.each do |section|
          %td
            ="#{'%.2f' % section.setting.base_price.round(2)} €"
            -if section.discounts.any?
              %span
                %small=link_to '(descuentos)', discounts_path(section.permalink)