<div class="contact_banner visible-xs">
  <%= link_to('Pide cita online', contact_path, title: 'Pide cita online', class: 'btn btn-info') %>
  <span onclick="$(this).parent().remove();">X</span>
</div>
