
%link{ rel: "icon", href: "http://res.cloudinary.com/confisio/image/upload/v1435183104/logo-marca/mano/logo-confisio-mano_36_57.png", type: "image/png" }/

%link{ href: "http://res.cloudinary.com/confisio/image/upload/v1435183104/logo-marca/mano/logo-confisio-mano_36_57.png", rel: "fluid-icon", title: 'Confisio' }/

%link{href: "http://res.cloudinary.com/confisio/image/upload/v1435183104/logo-marca/mano/logo-confisio-mano_36_57.png", rel: "apple-touch-icon-precomposed", sizes: "57x57"}/

%link{href: "http://res.cloudinary.com/confisio/image/upload/v1435183104/logo-marca/mano/logo-confisio-mano_71_114.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
%link{href: "https://res-3.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183103/logo-marca/mano/logo-confisio-mano_45_72.png", rel: "apple-touch-icon-precomposed", sizes: "72x72"}/

%link{href: "https://res-5.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183109/logo-marca/mano/logo-confisio-mano_90_144.png", rel: "apple-touch-icon-precomposed", sizes: "144x144"}/
%link{href: "https://cloudinary.com/console/media_library#/dialog/image/upload/logo-marca/mano/logo-confisio-mano_38_60", rel: "apple-touch-icon-precomposed", sizes: "60x60"}/
%link{href: "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183110/logo-marca/mano/logo-confisio-mano_75_120.png", rel: "apple-touch-icon-precomposed", sizes: "120x120"}/
%link{href: "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183108/logo-marca/mano/logo-confisio-mano_48_76.png", rel: "apple-touch-icon-precomposed", sizes: "76x76"}/
%link{href: "https://res-3.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183114/logo-marca/mano/logo-confisio-mano_96_152.png", rel: "apple-touch-icon-precomposed", sizes: "152x152"}/
%link{href: "https://res-4.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183103/logo-marca/mano/logo-confisio-mano_123_196.png", rel: "icon", sizes: "196x196", type: "image/png"}/
%link{href: "https://res-1.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183104/logo-marca/mano/logo-confisio-mano_60_96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
%link{href: "https://res-3.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183103/logo-marca/mano/logo-confisio-mano_20_32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
%link{href: "https://res-5.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183110/logo-marca/mano/logo-confisio-mano_10_16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
%link{href: "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183107/logo-marca/mano/logo-confisio-mano_80_128.png", rel: "icon", sizes: "128x128", type: "image/png"}/

%meta{content: 'Confisio', name: "application-name"}/

%meta{content: "#FFFFFF", name: "msapplication-TileColor"}/

%meta{content: (@meta_image and !@meta_image.blank?) ? @meta_image : "https://res-5.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183109/logo-marca/mano/logo-confisio-mano_90_144.png", name: "msapplication-TileImage"}/
%meta{content: (@meta_image and !@meta_image.blank?) ? @meta_image : "https://res-4.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183103/logo-marca/mano/logo-confisio-mano_44_70.png", name: "msapplication-square70x70logo"}/
%meta{content: (@meta_image and !@meta_image.blank?) ? @meta_image : "https://res-1.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183104/logo-marca/mano/logo-confisio-mano_94_150.png", name: "msapplication-square150x150logo"}/
%meta{content: (@meta_image and !@meta_image.blank?) ? @meta_image : "https://res-3.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183104/logo-marca/mano/logo-confisio-mano_194_310.png", name: "msapplication-square310x310logo"}/
%meta{content: (@meta_image and !@meta_image.blank?) ? @meta_image : "https://res-1.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183104/logo-marca/mano/logo-confisio-mano_94_150.png", name: "msapplication-wide310x150logo"}/
