%meta{:content => ENV['FB_APP_ID'], :property => "fb:app_id"}/
%meta{:content => (@meta_url and !@meta_url.blank?) ? @meta_url : root_url, :property => "og:url"}/
%meta{:content => 'Confisio', :property => "og:site_name"}/
%meta{:content => @titulo ? "Confisio · #{@titulo}" : 'Confisio' , :property => "og:title"}/
%meta{:content => (@description and !@description.blank?) ? @description : AppConfiguration.first.description || 'Clínica de fisioterapia y psicología en Madrid. Para nosotros es importante resolver tus dudas, y que entiendas las causas del problema, para hacerte participe del tratamiento y evitar recaidas. Fisioterapeutas y psicólogos colegiados en constante formación.' , :property => "og:description"}/

-if @meta_image and !@meta_image.blank?
  %meta{:content => @meta_image, :property => "og:image"}/
  %meta{:content => "image/png", :property => "og:image:type"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "1200", :property => "og:image:height"}/
-else
  %meta{:content => "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183433/logo-marca/logo-nombre-mano/logo-confisio-def_1024_330.png", :property => "og:image"}/
  %meta{:content => "image/png", :property => "og:image:type"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "1200", :property => "og:image:height"}/

  %meta{:content => "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183433/logo-marca/logo-nombre-mano/logo-confisio-def_1512_487.png", :property => "og:image"}/
  %meta{:content => "image/png", :property => "og:image:type"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "620", :property => "og:image:height"}/
