%meta{:content => ENV['FB_APP_ID'], :property => "fb:app_id"}/
%meta{:content => @meta_url || "http://#{ENV['HOST']}", :property => "og:url"}/
%meta{:content => APP_NAME, :property => "og:site_name"}/
%meta{:content => @titulo ? "#{APP_NAME} · #{@titulo}" : APP_NAME , :property => "og:title"}/
%meta{:content => @description || AppConfiguration.first.description || APP_META_DESCRIPTION, :property => "og:description"}/

-if @meta_image
  %meta{:content => @meta_image, :property => "og:image"}/
  %meta{:content => "image/png", :property => "og:image:type"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "1200", :property => "og:image:height"}/
-else
  %meta{:content => "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183433/logo-marca/logo-nombre-mano/logo-confisio-def_1024_330.png", :property => "og:image"}/
  %meta{:content => "image/png", :property => "og:image:type"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "1200", :property => "og:image:height"}/

  %meta{:content => "https://res-2.cloudinary.com/confisio/image/upload/t_media_lib_thumb/v1435183433/logo-marca/logo-nombre-mano/logo-confisio-def_1512_487.png", :property => "og:image"}/
  %meta{:content => "image/png", :property => "og:image:type"}/
  %meta{:content => "1200", :property => "og:image:width"}/
  %meta{:content => "620", :property => "og:image:height"}/