!!!
%html.confisio{lang: I18n.locale}
  %head{:itemscope => '', :itemtype => 'http://schema.org/WebSite'}
    =render partial: 'layouts/common_head'
  %body
    =render partial: 'application/header'
    %section#application_content.container.application
      #application_flashes
        =render partial: 'application/flashes'
      = yield
    %footer.footer
      =render partial: 'application/footer'