!!!
%html.confisio
  %head
    =render partial: 'layouts/common_head'
  %body
    =render partial: 'application/header'
    %section.container#application_content
      .container
        #application_flashes
          =render partial: 'application/flashes'
        = yield
    =render partial: 'application/footer'