!!!
%html.confisio
  %head
    %title Confisio
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    =render partial: 'application/header'
    %section.container#application_content
      #application_flashes
        =render partial: 'application/flashes'
      = yield
    =render partial: 'application/footer'