!!!
%html.confisio{lang: I18n.locale}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    =render partial: 'layouts/common_head'
  %body
    =render partial: 'application/header'
    %section.container#application_content
      .container
        #application_flashes
          =render partial: 'application/flashes'
        = yield
    =render partial: 'application/footer'