!!!
%html.confisio
  %head
    =render partial: 'layouts/common_head'
  %body
    =render partial: 'application/header'
    %section.container#application_content
      .container
        #application_flashes
          =render partial: 'application/flashes'
        .row
          .col-xs-12.col-sm-8.col-md-8.col-lg-10
            = yield
          .hidden-xs.col-sm-4.col-md-4.col-lg-2
            = yield(:right_colum)
    =render partial: 'application/footer'